<div id='map_window'></div>
<div id='building_table'>
  <table id='distance'>
    <thead>
      <tr>
        <th>#</th>
        <th>Адрес</th>
        <th>Расстояние до точки, км</th>
      </tr>
    </thead>
  </table>
</div>
